<div class="container flex-column-center">
  <div class="title-div flex-column-center">
    <!-- <div class="title-image">
      <img [src]="user.avatarUrl" [alt]="user.name" class="ui avatar">
    </div>
    <div class="title-content">
      <h1>{{ user.name }}</h1>
    </div> -->
    <div class="ui card">
      <div>
        <img class="ui tiny circular image" [src]="user.avatarUrl" [alt]="user.name">
      </div>
      <div class="content">
        <a class="header">{{ user.name }}</a>
        <div class="meta">@{{ user.login }}</div>
        <div class="description">{{ user.bio }}</div>
      </div>
    </div>
  </div>
  <div class="repositories-div">
    <sui-accordion class="styled">
      <sui-accordion-panel *ngFor="let repository of repositories">
        <div title>
            <i class="dropdown icon"></i>
            {{ repository.fullName }}
        </div>
        <div content>
            <p>{{ repository.description }}</p>
            <p>{{ repository.createdAt|dateFormat }}</p>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
</div>
